.section {
    width: 100%;
    display: flex;
    min-height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    padding: 5rem;
}

.leftSction {
    width:35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    
}

.title {
    font-size: 2rem;
    color:var( --texto-2);
    text-align: start;
}

.title span {
    color: var(--principal-dark);
}

.leftSction p {
    font-size: 1.2rem;
}

.leftSction {
    display: flex;
    gap: 24px;
}

.nav {
    display: flex;
    gap: 24px;
}

.rightSction {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: start;
    z-index: 2;
}

.banner {
    width: 100%;
    height: 100%;
 }

 .shape {
    background-color: var(--principal-light);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
 }

 @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Subir levemente */
    }
    100% {
      transform: translateY(0); /* Voltar à posição original */
    }
  }
  
  .imgUpDown {
    animation: upAndDown 2s ease-in-out infinite; /* Animação contínua */
  }

 
 @media screen and (max-width: 1170px) {

    .section {
        min-height: 100%;
        padding-top: 0px;

    }

    .rightSction, .shape {
        display: none;
    }

    .leftSction {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .nav {
        flex-direction: column;
    }
 }