.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    width: 100%;
    padding: 0 20px; 
    gap: 1rem; 
    flex-wrap: wrap; 
}

.title {
  color: var(--texto-2);
  margin-top: 2rem;
  text-align: center; 
}

.icon {
  font-size: 2rem;
}

@media screen and (max-width: 1170px) {
    .container {
        justify-content: center;
        align-items: center;
    }
}