.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 48px;
    padding: 28px 8%;
    margin-top: 100px;
}

.leftSection {
    width: 30%;
}

.textContainer {
    width: 70%;
}

.list_itens {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    border: 1px solid var(--principal);
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    gap: 12px;
}

.list_itens li{
    color: var(--principal-dark);
    font-size: 1.5rem;
}

.list_itens li span {
    color: var(--texto-2);
    font-weight: 600;
}

@media screen and (max-width: 1170px) {
    .section {
        flex-direction: column-reverse; 
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }

    .leftSection {
        width: 100%;
        align-items: flex-start;
    }

    .textContainer {
        display: none;
    }
}