@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--bg);
}

ul {
    list-style: none;
}

.btnDefault {
    border: none;
    display: inline-block;
    background-color: var(--principal);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    text-decoration: none;
    color: var(--text-over-principal);
}

.btnDefault:hover {
    background-color: var(--principal-dark);
}

.social_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
    color: var(--texto-2);
    background-color: var(--branco);
    text-decoration: none;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social_buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}