:root {

    --background:#fff9ea;

    --texto-1:#1d1d1dad;
    --texto-2:#1d1d1d;

    --principal-light: #ffe8b4;
    --principal: #ffcb45;
    --principal-dark: #e9a209;

    --principal-hover: #ffe8b4;

    --text-over-principal: #1d1d1d;

    --branco: #fff;
}