.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerLogin {
    display: flex;
    background-color: var(--branco);
    border-radius: 15px;
    width: 960px;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contentLogin {
    display: flex;
    width: 100%;
}

.firstColumn {
    width: 40%;
    background-color: var(--principal);
    color: var(--branco);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    gap: 1rem;
}

.secondColumn {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    gap: 1rem;
}

.titleLogin {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.titlePrimary {
    color: var(--branco);
}

.titleSecond {
    color: var(--principal-dark);
}

.descriptionLogin {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descriptionPrimary {
    color: var(--branco);
}

.descriptionSecond {
    color: var(--texto-1);
}

.btnLogin {
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--branco);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    transition: background-color 0.5s;
}

.btnPrimary {
    background-color: transparent;
    border: 1px solid var(--branco);
}

.btnPrimary:hover {
    background-color: var(--branco);
    color: var(--principal-dark);
}

.btnSecond {
    background-color: var(--principal);
    border: 1px solid var(--principal);
}

.btnSecond:hover {
    background-color: var(--branco);
    border: 1px solid var(--principal);
    color: var(--principal);
}

.socialMediaLogin {
    margin: 1rem 0;
}

.listSocialMedia {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.linkSocialMedia .itemSocialMedia {
    transition: background-color 0.5s;
}

.linkSocialMedia:hover .itemSocialMedia {
    background-color: var(--principal);
    color: var(--branco);
    border-color: var(--principal);
}

.itemSocialMedia {
    border: 1px solid var(--texto-1);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--texto-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.formLogin input {
    width: 100%;
    height: 45px;
    border: none;
    color: var(--texto-1);
    background-color: var(--principal-light);
    padding: 0 1rem;
    border-radius: 8px;
}

.labelLoginInput {
    display: flex;
    align-items: center;
    background-color: var(--principal-light);
    margin: 8px;
    border-radius: 8px;
}

.iconModify {
    color: var(--texto-1);
    padding: 0 10px;
}

.passwordLogin {
    color: var(--texto-1);
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
}


.containerLoginMobile {
    display: none;
}

.formLoginMobile {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 280px;
    gap: 8px;
}

.formLoginMobile input {
    width: 100%;
    height: 38px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--branco);
    color: var(--texto-2);
}

.btnLoginMobile {
    background-color: var(--principal);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--texto-2);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.containerLoginMobile p {
    margin-top: 12px;
    color: var(--texto-2);
}

.containerLoginMobile p a {
    color: var(--principal-dark);
    font-weight: 600;
    cursor: pointer;
}


@media (max-width: 768px) {
    .containerLogin {
        display: none; 
    }

    .containerLoginMobile {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; 
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .containerLoginMobile h2 {
        color: var(--texto-2);
        font-size: 22px;
        margin-bottom: 1rem;
    }
}