.headerContainer {
    width: 100%;
    padding: 0 8%;
    position: fixed;
    top: 0;
    background-color: var(--bg);
    z-index: 10;
    margin-bottom: 3rem;
}

.headerNavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo img{
    width: 200px;
    height: 100px;
}

.navList,
.navList_social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: var(--texto-1);
}

.navList_item a {
    text-decoration: none;
    color: var(--texto-1);
    font-weight: 600;
    transition: .2s ease-in-out;
}

.navList_item a:hover {
    color: var( --texto-2);
}

.navList_item.active a {
    color: var(--texto-2);
    border-bottom: 3px solid #ffe100;
}

.btn_Mobile,
.navList_Mobile {
    display: none;
}


@media screen and (max-width: 1170px) {
    .btn_Mobile {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--yellow-2);
        border-radius: 12px;
        padding: 10px 14px;
        font-weight: 600;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color .3s ease;
    }

    .btn_Mobile:hover {
        background-color: var(--yellow-1);
    }

    .navList{
        display: none;
    }

    .navList_Mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        text-align: center;
        margin: 24px 0;
        gap: 12px;
    }

}